@media only screen and (max-width: 768px){
}

@media only screen and (min-width: 992px){
    .content{
        padding: 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px){
    .content{
        padding: 100px;
    }
}



/* #about{
    border: purple;
    border-style: dashed;
}

#resume{
    border: rgba(219, 216, 23, 0.623);
    border-style: dashed;
}

#projects{
    border: rgb(128, 0, 0);
    border-style: dashed;
} */

