.Main{
    border: teal;
    border-style: double;
    background-color: lightslategray;
}

.container{
    display: flex;
    max-width: 100%;
    align-items: flex-end;
}

.sidebar{
    background-color: aqua;
}
