
/*mobile*/
@media only screen and (max-width: 600px){
    .socialIcons{
        padding: 20px;
    }
    
}

@media only screen and (min-width: 600px){
    .socialIcons{
        margin-top: 100px;
    }

    .socialIcons:hover{
        font-size: larger;
    }
}